<div class="counter">{{counter}}</div>
<div class="outer" onclick={{action (ignore-children incrementCounter) }}>
  Clicks in this area will increment the counter.
  <div class="inner">Clicks in this area will not.</div>
</div>